.MMM-MyWastePickup .pickup-container {
  line-height: 1.75;
  font-size: 20px;
  margin: 0;
  padding: 0;
  position: relative;
  text-align: left
}

.MMM-MyWastePickup .pickup-container .pickup-date {
  color: #FFF;
}

.MMM-MyWastePickup .pickup-container .waste-pickup-icon-container {
  white-space: nowrap;
  margin: 0 auto;
  line-height: 24px;
}

.MMM-MyWastePickup .pickup-container .waste-pickup-icon-container .waste-pickup-icon {
  width: 200px;
  height: 200px;
  fill: currentColor;
  vertical-align: bottom;
  display: inline;
  position: relative;
  margin-left:4px;
}

.MMM-MyWastePickup .pickup-container .waste-pickup-icon-container .waste-pickup-icon.recycle {
  fill: #3499D4;
}
.MMM-MyWastePickup .pickup-container .waste-pickup-icon-container .compost {
  width: 185px;
  height: 185px;
  fill: #573C21 !important;
}
.MMM-MyWastePickup .pickup-container .waste-pickup-icon-container .waste-pickup-icon.compost {
  fill: rgb(97, 69, 15);
}
.MMM-MyWastePickup .pickup-container .waste-pickup-icon-container .waste-pickup-icon.garbage {
  fill: #787878;
}
.MMM-MyWastePickup .pickup-container .waste-pickup-icon-container .waste-pickup-icon.yard_waste {
  fill: #C2A36E;
}
.MMM-MyWastePickup .pickup-container .waste-pickup-icon-container .waste-pickup-icon.christmas_tree {
  fill: #008D45;
}
